/* remove borders/margin/padding */
* {

    margin: 0;
    padding: 0;
    border: none;
}

/* header */
h1 {
    width: 100%;
    text-align: center;
}

header h2,h3 {
    width: 100%;
    text-align: center;
}

/* player div */
.player {
    width: 30vw;
    height: 30vh;
    border:darkgray;
    border-style: ridge;
    border-width: 2px;
    display: inline-block;
    margin: 40px;
}

.player-choice {
    display: flex;
    width: 100%;
    
    
}

.player-choice button {
    border:darkgray;
    border-style: ridge;
    border-width: 2px;
    width: 5vw;
    height: 15vh;
    background-color: unset;
}

.player-choice button:hover{
    color:red;
}

.player-choice button > i {
    font-size: 75px;
}

#player-1 {
    float: left;

}

#player-2 {
    float: right;

}

/*  round counter  */

#round-counter {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    width: inherit;
}

/* winner display */

#winner {
    text-align: center;
    width: 250px;
    height: 200px;
    margin: 0 auto;
    padding: 3%;
    font-size: 40px;
}

/* next round  */
#next-round {
    width: 250px;
    height: 40px;
    margin-left: 10%;
    padding: 3%;
    font-size: 25px;
    border-style: double;
    border-width: 1px;
}